web/calebs-taco-truck.png filter=lfs diff=lfs merge=lfs -text
web/taco.png filter=lfs diff=lfs merge=lfs -text
docs/calebs-taco-truck-site.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
